body {
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* 上面三行也可以写成一行 */
    /* font: normal 16px Arial, Helvetica, sans-serif; */
    line-height: 1.6em;
}

button {
    background-color: #444444;
    color: #fff;
    padding: 10px 5px;
    border-radius: 10px;
}

button:hover {
    background-color: darkblue;
}

button:active {
    background-color: cornflowerblue;
}

a {
    text-decoration: none;
    color: #555555;
}

a:hover {
    color: cyan;
}


/* a:visited {
    color: #3ace2d
} */

.clearfix {
    clear: both;
}

.box1 {
    background-color: antiquewhite;
    color: royalblue;
    border: 5px blue solid;
    border-right: 5px red solid;
    border-left: 5px blue solid;
    border-top: 10px green dotted;
    border-bottom: 8px firebrick double;
    border-bottom-style: dashed;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
}

.box1 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1em;
    word-spacing: 2em;
}

.box2 {
    border: 5px dotted #cccccc;
    /*圆角*/
    border-radius: 35px;
    padding: 20px;
    margin: 20px 0px;
    position: relative;
}

.container {
    width: 80%;
    margin: auto;
}

.list li {
    background-color: lightgray;
    list-style-image: url(../image/images.png);
}

.block {
    float: left;
    width: 33.3%;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

#mainblock {
    float: left;
    width: 70%;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}


/* 偶数 */

.list2 li:nth-child(even) {
    background-color: gray
}


/* 奇数 */

.list2 li:nth-child(odd) {
    background-color: #cccccc
}

.positionbox {
    width: 500px;
    height: 500px;
    border: 1px solid #000000;
    position: relative;
}

.positionbox h1 {
    position: absolute;
    top: 30px;
}

#fixedButton {
    position: fixed;
    right: 0;
    bottom: 30px;
}